.header__link{
    display: flex;
    width: 24.084rem;
    height: 3.375rem;
    gap: 1.563rem;
    align-items: center;
    text-decoration: none;

}

.icon-home{
    display: none;
    width: 2.813rem;
    height: 2.813rem;
    top: 6.13px;
    left: 6.49px;
}

.icon-add{
    display: none;
    width: 2.813rem;
    height: 2.813rem;
    top: 6.13px;
    left: 6.49px;
}

@media (min-width:430px) and (max-width:768px){
    
    .icon-home{
        display: block;
    }
    .icon-add{
        display: block;
    }
}
