.card{
    width: 27.020rem;
    height: 19.995rem;
    box-sizing: border-box;
    justify-content: center;
}

.card iframe{
    width: 27rem;
    height: 16.303rem;
    border-radius: 15px 15px 0px 0px;
}

.card__button__container{
    display: flex;
    width: 27.4rem;
    height: 3.688rem;
    justify-content: center;
    gap: 4.375rem;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0px 0px 15px 15px;

}

.button__card{
    display: flex;
    align-items: center;
    font-family: 'Roboto',serif;
    font-weight: 800;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border: none;
    
}

.button__card:nth-child(2){
    border: none;
}

.button__container button img{
    margin-right: 0.281rem;
}