.card{
    width: 27.015rem;
    height: 19.995rem;
    border-radius:15px;
    border: solid rgba(107, 209, 255, 1);
}

.button__container{
    width: 26.875rem;
    height: 3.688rem;
    justify-content: center;
    gap: 4.375rem;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px -4px 5px 3px rgba(107, 209, 255, 1) inset;
}

.button__container button{
    display: flex;
    align-items: center;
    font-family: 'Roboto',serif;
    font-weight: 800;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border: none;
    
}

.button__container button:nth-child(2){
    border: none;
}

.button__container button img{
    margin-right: 0.281rem;
}