.overlay{
    z-index: 11;
    background-color:rgba(3, 18, 47, 0.76);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal__container{
    position: absolute;
    justify-content: center;
    align-content: center;
    background: rgba(3, 18, 47, 1);
    z-index: 11;

    width: 80%;
    height: 67.125rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;

    border: 5px solid rgba(107, 209, 255, 1);
    border-radius: 15px;

    font-family: 'Roboto', serif;

}

.close__button{
    background-color: transparent;
    float: right;
    border: none;
    
}

.close__icon{
    color: white;
    width: 3.25rem;
    height: 3.25rem;

}

.modal__container h1{
    margin: 2.688rem 12.469rem;
    text-align: justify;
    color: rgba(34, 113, 209, 1);
    font-weight: 900;
    font-size: 60px;
    line-height: 70.31px;
}

@media (max-width: 1024px){

   .modal__container h1{
    margin-left: 9.125rem;
    text-wrap: nowrap;
   }

}

@media (min-width:430px) and (max-width:768px){
    
    .modal__container{
        
        height: 90%;
    }
    .modal__container h1{
        margin: 0;
        text-align: center;
        font-size: 32px;
    }

}