main{
   display: flex;
   flex-direction: column;
   justify-self: center;

}

.titulo__container{
    color:rgba(255, 255, 255, 1);
    text-align: center;
}

.titulo{
    font-size: 60px;
    font-weight: 900;
    line-height: 4.394rem;
}

.subtitulo{

    font-size: 20px;
    font-weight: 400;
    line-height: 1.465rem;

}

.formulario__novoVideo{
    color:rgba(255, 255, 255, 1);
}

.formulario__titulo__container{
    width: 100%;
    height: 5.688rem;
    gap: 0.313rem;
    color:rgba(255, 255, 255, 1);
    border: solid rgba(38, 38, 38, 1);
    border-right: 0px;
    border-left: 0px;
    margin: 3.75rem 0rem;
}

.formulario__titulo__container h2{
    font-family: 'Source Sans 3', serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 24px;

}

.formulario__campo__container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    width: 73.25rem;
}

.formulario__botao__container{
    display: flex;
    justify-content: left;
    gap: 30px;
}

@media (max-width: 1024px){
    main{
        width: 95%;
    }
    .formulario__novoVideo{
        margin: 0rem 3.125rem ;
    }
    .formulario__campo__container{
        width: 100%;
    }
 }

@media (min-width:430px) and (max-width:768px){
    
    .formulario__novoVideo{
        margin: 0rem 3.125rem ;
    }
    
    .formulario__campo__container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .formulario__botao__container{
        justify-self: center;
        flex-direction: column;
        margin-bottom: 10rem;
    }

}